@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;900&display=swap');

*{
  box-sizing: border-box;
}

html,body{
  box-sizing: border-box;
  background-color: #151515;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  margin: 0 auto;
  overflow: hidden;
}

/* backgrounds */
html,body{
  /* background-image: url('./assets/Backgrounds/Tokyo.jpg');
  background-color: black;
  
    
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; */
}

a{
  text-decoration: none;
  color: white;
}

#header{
  margin-top: 4%;

  color: black !important;
  
}

.page-container{
  margin: 4% 8% 4% 8%;
}

.title-container{
  /* width: 50%; */
}

#about-container{
  width: 50%;
}

#about-container p{
  font-weight: 500;
  font-style: italic;
  font-size: 1rem;
  color: #eaeade;
}

.title{
  color: #eaeade;
  /* color: black !important; */
  font-size: 10rem;
  font-weight: 900;
  margin: 0 auto;
  /* -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #eaeade; */
}

#nav-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top:20%;
  margin-bottom:15%;
  flex-wrap: wrap;
}

.row{
  display: flex;
  flex-direction: row;
  justify-content: flex-start; 
  /* align-items: center; */
  width: 100%;
  font-size: 5rem;
  margin-top: 10%;
}

.row p{
  color: #eaeade;
  margin: 0;
}



.field-container{
  margin-top: 3%;
}

.field-container p{
  font-size: 3rem;
  color: #eaeade;
  margin: 0;
}

#submit-button{
  margin-top: 3%;
  width:25%;
  height: 50px;
  border: 1px solid black;
  outline: none;
  color: black;
  background-color: #eaeade;
  cursor: pointer;
  transition: 0.2s;
  font-family: 'Roboto', sans-serif;
}

#submit-button:hover{
  background-color: #151515;
  border: 1px solid #eaeade;
  color: #eaeade;
}

.form-container{
  margin: 0%;
  /* margin-top: 0;
  margin-bottom: 0;
  margin-left: 0; */
  /* text-align: left; */
}

.field-container input{
  background-color: #151515;
  outline: none;
  border: 1px solid #eaeade;
  width: 100%;
  height: 50px;
  color: #eaeade;
  /* padding: 5%; */
  border-right: 0;
  border-top: 0;
  border-left: 0;
  font-size: 2rem;
}

.field-container textarea{
  background-color: #151515;
  outline: none;
  border: 1px solid #eaeade;
  width: 100%;
  min-height: 150px;
  max-height: 250px;
  resize: vertical;
  color: #eaeade;
  padding: 1%;
  font-size: 2rem;
  font-family: 'Roboto', sans-serif;
}

::placeholder{
  color: #eaeade4c;
  font-size: 2rem;
  font-family: 'Roboto', sans-serif;
}

.link{
  cursor: pointer;
  transition: 0.2s;
}

#red-hover:hover{
  color:#fc1b62
}
#red-hover-ham:hover{
  color:#fc1b62
}
#blue-hover:hover{
  color:#1bfce5
}
#blue-hover-ham:hover{
  color:#1bfce5
}
#yellow-hover:hover{
  color:#fff23d
}
#yellow-hover-ham:hover{
  color:#fff23d
}
#green-hover:hover{
  color:#6aff62
}
#green-hover-ham:hover{
  color:#6aff62
}

.title > span{
  -webkit-text-stroke-width: 0
}

.red{
  color:#fc1b62
}

.blue{
  color:#1bfce5
}

.yellow{
  color:#fff23d
}

.green{
  color:#6aff62
}

  
hr{
  border-color: rgb(99, 99, 99);
  width: 100%;
  margin-top: 0;
  outline: none;
}
#page-break-text{
  color: #eaeade;
  font-size: 10rem;
  margin: 0 auto;
  margin-top: 5%;
  
  margin-bottom: 5%;
  /* line-break: anywhere; */

}

#page-break-text{
  line-height: 80%;
}

#info{
  width: 100%;
  margin-right: 5%;
}
.nav-child{
  width: 100%;
}

#about{
  margin-right: 5%;
}

.sub-categories{
  width: 80%;
}
.sub-categories p{
  font-size: 1rem;
  color: rgb(142 142 142);
  margin: 0;
}


#hamburger-container{
  position: absolute;
  top: 5%;
  right: 5%;
  cursor: pointer;
  z-index: 1000;
  position: fixed;
  /* background-color: red; */
  /* padding: 2%; */
  border: 0px solid #eaeade;
}

#hamburger-menu-container{

  /* background-color: red; */
  color: white;
  position: absolute;
  top: 0;
  right: 0;
  
  z-index: 100;
  height: 100%;
}
.ham-nav-items{
  position: fixed;
  top: 0;
  z-index: 100;
  margin: 0 auto;
  padding: 0;
  height: 100%;
  background-color: rgb(14, 14, 14);
  background-color: rgba(0, 0, 0, 0.95);
  background-color: #151515;
  /* border: 1px solid white; */
  color: white;
  font-size: 3rem;
  width: 100%;
  z-index: 100;
  
}



.slidebar-list-container{
  display: flex;
  justify-content: center;
  height: 100%;
  flex-direction: column;
  /* background: #99faf9; */
}
.slide-in{
  width: 100%;
  right: 0;
  display: block;
  animation: slide-in ease-in-out;
  animation-duration: 0.2s;
}

.slide-none{
  display: none;
}

.slide-out{
  width: 100%;
  display: block;
  animation: slide-out ease-in-out;
  animation-duration: 0.2s;
}

#slidebar-list{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  height: 100%;
  text-align: center;
  
}

.slidebar-menu-items{
  height: 100%;
  width: 100%;
  /* background: #99faf9; */
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #eaeade;
  /* transition: 0.3s ease-in-out; */
}

.slidebar-menu-items p{
  font-size: 3rem;
}

.slidebar-menu-items:hover{
  
}


@keyframes slide-in{
  0%{
    right: -100%;
    
  }
  100%{
    right:0%;
    
  }
}

@keyframes slide-out{
  0%{
    right: 0;
  }
  100%{
    right:-100%
  }
}

.dot-animation{
  animation-name: dot;
  animation-duration: 30s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

@keyframes dot{
  0%{
    /* color: #ff0044; */
    color: #fc1b62
  }
  25%{
    color: #1bfce5
  }
  50%{
    color: #fff23d
  }
  75%{
    color: #1bfc53;
  }
  100%{
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;900&display=swap');
    color: #eaeade;
  }

}



#social-container{
  /* background-color: orange; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.fa-icon{
  color: white;
  opacity: 0.2;
  transition: 0.2s;
  cursor: pointer;
}
.fa-icon:hover{
  opacity: 1;
}


/* youtube */
#youtube-container{
  display: flex;
  justify-content: flex-start;
  width: 100%;
  margin-bottom: 5%;
}

#youtube-link:hover{
  color:#c4302b
}

#twitch-link:hover{
  color: #6441a5
}

#youtube-container iframe{
  /* width: 100%; */
}

.photo-child-container img{
  width: 50%;
}

.content-child p{
  color: #eaeade;
  font-size: 5rem;
  margin-bottom: 0;
}

.sc-player{
  font-size: 10px; 
  color: #cccccc;
  line-break: anywhere;
  word-break: normal;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
   font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
  font-weight: 100;
  
}
.sc-player a{
  color: #cccccc;
  text-decoration: none;
}

#master-music-container{
  display: flex;
  justify-content: space-between;
  align-self: flex-start;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
}

.child-music-container{
  margin-bottom: 5%;
}

.carousel{
  background-color: #cccccc;
}

.carousel-root{
  /* border: 5px solid #FF5836;
  border: 5px solid red; */
}

.carousel-slide iframe{
  width: 100% !important;
  margin: 0 auto !important;
}

.cookiePolicy{
  display: none !important;
}

/* fade in sections */
.fade-in-section {
  opacity: 0;
  transform: translateY(20vh);
  visibility: hidden;
  transition: opacity 0.6s ease-out, transform 1.2s ease-out;
  will-change: opacity, visibility;
}
.fade-in-section.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}

/* coding page */
.main-card-container{
  margin-top: 2%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.card-button-container{
  width: 100%;
}

.card-button{
  background-color: transparent;
  border: 1px solid #eaeade;
  color: #eaeade;
  outline: none;
  padding: 5%;
  transition: 0.2s;
  cursor: pointer;
  /* width: 50%; */
}

.card-button:hover{
  background-color: #eaeade;
  color: #2b2b2b;
}

.card-child{
  /* max-width: 350px; */
  height: 70vh;
  padding: 2%;
  text-align: center;
  margin: 3%;
  margin-left: 0;
  background-color: #1c1c1c;
  /* background-color: #0c0c0c; */
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  /* border: 1px solid #eaeade; */
  border-radius: 0px;
  color: #eaeade;
  box-shadow: 0px 1px 0px 0px #040404;
  transition: 0.2s;

  width: 350px;
  /* height: 500px; */
}



.card-child:hover{
  transform: translateY(-5px);
  box-shadow: 2px 10px 10px 0px #040404;
}

.card-image-container > img{
  opacity: 0.7;
  /* width: 40%; */
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s;
}



.card-child > img:hover{
  opacity: 1;
}

.language-container{
  /* display: flex;
  justify-content: center;
  flex-wrap: wrap; */

}

.card-language-image{
  width: 10%;
  height: auto;
  margin: 2%;
  border-radius: 5px;
}

footer{
  text-align: center;
  color: white;
  padding: 3%;
  background-color: #080808;
}

#preloader-container{
  top: 0;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: #151515;
  z-index: 10000;
  display: flex;
  justify-items: center;
  align-items: center;
  opacity: 1;
}

.preloader-hide{
  
  animation-name: hide-preloader;
  animation-duration: .2s;
}

@keyframes hide-preloader{
  from{
    opacity: 1;
  }
  to{
    opacity: 0;
  }
}

#animation-section {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.animation-children{
  margin: 5%;
  margin-left: 0;
  margin-top: 0;
  border: 0px solid #eaeade;
}

.keyword{
  /* color: #fc1b62; */
  font-weight: bold;
  font-style: italic;
  animation-name: dot;
  animation-duration: 30s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}





/* media queries */
@media only screen and (max-width:700px){

  body,html{
    font-size: 6px;
  }
  .row{
    flex-wrap:wrap
  }
  .page-container{
    margin: 15%;
  }
  .sub-categories p{
    font-size: 2rem;
  }
  .slidebar-menu-items p{
    font-size: 5rem;
  }
  .card-child-description{
    font-size: 2rem;
  }
  .card-child{
    /* height: 50vh; */
    padding: 5%;
    /* margin: 0 auto; */
  }
  footer{
    font-size: 2rem !important;
  }
  #youtube-container iframe{
    width: 100%;
  }
}











/* basic stylings ------------------------------------------ */

.container 		{ 
  /* font-family:'Roboto'; */
  /* width:600px;  */
  margin:30px auto 0; 
  display:block; 
  /* background:#FFF;
  padding:10px 50px 50px; */
}
h2 		 { 
  text-align:center; 
  margin-bottom:50px; 
}
h2 small { 
  font-weight:normal; 
  color:#888; 
  display:block; 
}
.footer 	{ text-align:center; }
.footer a  { color:#53B2C8; }

/* form starting stylings ------------------------------- */
.group 			  { 
  position:relative; 
  margin-bottom:45px; 
}
.container input {
  font-family: 'Roboto';
  font-size:2rem;
  padding:10px 10px 10px 5px;
  display:block;
  width:100%;
  border:none;
  border-bottom:1px solid #757575;
  background-color: #151515;
  caret-color: #eaeade;
  color: #eaeade;
}
input:focus 		{ outline:none; }

/* LABEL ======================================= */
label 				 {
  color:#999; 
  font-size:2rem;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}

/* active state */
input:focus ~ label, input:valid ~ label 		{
  top:-20px;
  font-size:14px;
  color:#eaeade;
}
/* BOTTOM BARS ================================= */
.bar 	{ position:relative; display:block; width:100%; }
.bar:before, .bar:after 	{
  content:'';
  height:2px; 
  width:0;
  bottom:1px; 
  position:absolute;
  background:#eaeade; 
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%; 
}

/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
  width:50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
  position:absolute;
  height:60%; 
  width:100px; 
  top:25%; 
  left:0;
  pointer-events:none;
  opacity:0.5;
}

/* active state */
input:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
	from { background:#eaeade; }
  to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
	from { background:#eaeade; }
  to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
	from { background:#eaeade; }
  to 	{ width:0; background:transparent; }
}